body {
  color: #333; }

h2, h3, h4, h5, h6, table, p, ol, ul, dl {
  margin-bottom: 20px; }

h2 {
  background-color: #ffac97;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  padding: 5px 15px; }

h3 {
  background-color: #eee;
  border-radius: 5px;
  padding: 5px 15px; }

h4 {
  border-bottom: 1px solid #ddd;
  padding: 0 0 5px; }

/**
 * .header-center
 */
#header.header-center {
  padding-top: 40px; }
  @media (min-width: 992px) {
    #header.header-center {
      padding-bottom: 20px; } }

/**
 * .sidebar
 */
.sidebar a {
  color: #666; }

.sidebar h2 {
  background-color: transparent;
  padding: 0; }

.sidebar .widget ul {
  border-top: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd; }
  .sidebar .widget ul li {
    border-top: 1px dotted #ddd;
    margin: 0;
    padding: 5px 0; }
    .sidebar .widget ul li:first-child {
      border-top: none; }
  .sidebar .widget ul ul {
    border-bottom: none;
    margin-bottom: -5px; }

/**
 * .footer-widget-area
 */
.footer-widget-area {
  padding-top: 40px; }
  .footer-widget-area h2 {
    background-color: transparent;
    border-bottom: 1px solid #ccbbb6;
    color: #333;
    border-radius: 0;
    padding: 0 0 5px; }
  .footer-widget-area .widget ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0; }
    .footer-widget-area .widget ul li {
      margin-left: 0;
      padding: 2px 0; }
      .footer-widget-area .widget ul li ul {
        border-bottom: none; }
        .footer-widget-area .widget ul li ul li {
          padding-left: 1em; }

/**
 * .social-nav 
 */
.social-nav ul li a {
  color: #333; }

/**
 * #comments, #trackback
 */
#comments h2,
#trackback h2 {
  color: #fff; }

/**
 * .entries
 */
.entries .hentry {
  border-bottom: 1px dotted #ddd;
  margin-bottom: 40px;
  padding-bottom: 40px; }
  .entries .hentry .entry-meta {
    margin-bottom: 0; }
  .entries .hentry .summary-with-thumbnail {
    overflow: hidden; }
    .entries .hentry .summary-with-thumbnail-thumbnail {
      margin-right: 20px;
      width: 80px; }
      .entries .hentry .summary-with-thumbnail-thumbnail a {
        border-radius: 0;
        height: auto;
        min-height: 60px;
        width: auto; }
        #main .entries .hentry .summary-with-thumbnail-thumbnail a.no-thumbnail {
          background-color: #eee; }
        .entries .hentry .summary-with-thumbnail-thumbnail a .no-thumbnail-text {
          display: none; }
      @media (min-width: 768px) {
        .entries .hentry .summary-with-thumbnail-thumbnail {
          width: 150px; }
          .entries .hentry .summary-with-thumbnail-thumbnail a {
            min-height: 100px; } }

/**
 * .btn-primary
 */
.btn-primary {
  background-color: #817471;
  border-color: #7F564C; }
  .btn-primary.active,
  .btn-primary.focus,
  .btn-primary:active,
  .btn-primary:focus,
  .btn-primary:hover,
  .open > .btn-primary.dropdown-toggle {
    background-color: #7F564C;
    border-color: #7F564C; }

/**
 * .page-header
 */
.page-header {
  border-bottom: none;
  padding: 20px 0 20px; }
  .page-header .container h1 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px; }

/**
 * .entry-meta
 */
.entry-meta {
  color: #666; }
  .entry-meta a {
    color: #999; }

/**
 * .related-posts
 */
.related-posts h2 {
  color: #fff; }
