.footer-widget-area {
	padding-top: 40px;
}

.footer-widget {
	&__title {
		background-color: transparent;
		border-bottom: 1px solid #ccbbb6;
		color: #333;
		border-radius: 0;
		padding: 0 0 5px;
	}
}

.social-nav {
	ul {
		li {
			a {
				color: #333;
			}
		}
	}
}
